<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"> 
    <head>
        <meta charset="utf-8"> </meta>
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"></meta>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous"> </link>

        <title>Condicional</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    </head>
    <body>
        <ui:composition template="modelo.xhtml">
            <ui:define name="conteudo">    
        
            <div class="borda_titulo">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col col-lg-3">
                            <h1> Cadastro de Condicional</h1>
                        </div>
                        <div class="col" style="padding: 5px 0px">
                            <a class="btn_fechar" href="index.xhtml">X</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="telas2">
                <form>
                    <div class="form-group">
                        <label for="">Cliente</label>
                        <input type="text" class="form-control" placeholder="Cliente"/>
                    </div>
                    <div class="form-group">
                        <label for="">Código item</label>
                        <h:inputText class="form-control" value="#{produtosBean.produto.idProduto}" ></h:inputText>
                    </div>
               </form>
                <button type="button" class="btn btn-primary">Cadastrar</button>
                <button type="button" class="btn btn-light">Cancelar</button>
            </div>
            
            </ui:define>    
        </ui:composition>
    </body>
</html>

