<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
    <head>
        <meta charset="utf-8"> </meta>
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"></meta>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous"> </link>

        <title>Cadastro de Produtos</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    </head>

    <body>
        <ui:composition template="modelo.xhtml">
            <ui:define name="conteudo">
                <f:metadata>
                    <f:viewAction action="#{categoriaBean.atualizarAction()}"/>
                </f:metadata>
                <div class="borda_titulo">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col col-lg-3">
                                <h1> Cadastro de Produto</h1>
                            </div>
                            <div class="col" style="padding: 5px 0px">
                                <a class="btn_fechar" href="index.xhtml">X</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="telas2">
                        <div class="form-group">
                            <label for="">Nome do Produto</label>
                            <h:inputText class="form-control" value="#{produtosBean.produto.nomeProduto}" ></h:inputText>
                        </div>
                        <div class="form-group">
                            <label for="">Custo</label>                            
                            <h:inputText class="form-control" id="custo" value="#{produtosBean.produto.custo}" required="true"
                                            requiredMessage="O campo Custo deve ser preenchido." 
                                            converterMessage="Campo Custo é Numérico.">
                                    <f:convertNumber integerOnly="true" minIntegerDigits="1"  />
                            </h:inputText>
                        </div>
                        <div class="form-group">
                            <label for="">Preço</label>
                            <h:inputText class="form-control" id="preco" value="#{produtosBean.produto.preco}" required="true"
                                            requiredMessage="O campo Preço deve ser preenchido." 
                                            converterMessage="Campo Preço é Numérico.">
                                    <f:convertNumber integerOnly="true" minIntegerDigits="1"  />
                            </h:inputText>
                        </div>
                        <div class="form-group">
                            <label for="">Descrição</label>
                            <h:inputText class="form-control" value="#{produtosBean.produto.nomeProduto}"></h:inputText>
                        </div>
                        <div class="form-group">
                            <label for="exampleFormControlSelect1">Categoria</label>
                            <h:selectOneMenu class="form-control" id="idCategoria" value="#{produtosBean.produto.idCategoria}" converter="categoriaConverter">
                                <f:selectItems value="#{categoriaBean.categorias}"
                                               var="item"
                                               itemValue="#{item}"
                                               itemLabel="#{item.nome}" />
                            </h:selectOneMenu>
                        </div>
                    <h:commandButton action="#{produtosBean.insertProdutos()}" class="btn btn-primary" value="Cadastrar Produto" />
                    
                    <button type="button" class="btn btn-light">Cancelar</button>
                </div>
            </ui:define>
        </ui:composition>
    </body>
</html>
