<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">  
    <head>
        <meta charset="utf-8"> </meta>
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"></meta>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous"> </link>

        <title>Venda</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    </head>
    <body>

        <h1>Venda</h1>
        <ui:composition template="modelo.xhtml">
            <ui:define name="conteudo">
                <f:metadata>
                    <f:viewAction action="#{vendasBean.atualizarAction()}"/>
                </f:metadata>
                <div class="borda_titulo">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col col-lg-3">
                                <h1> Venda</h1>
                            </div>
                            <div class="col" style="padding: 5px 0px">
                                <a class="btn_fechar" href="index.xhtml">X</a>
                            </div>
                        </div>
                    </div>
                </div>                
                <div class="telas2">
                    <div class="row">
                        <div class="col-sm-4">
                            <form>
                                <div class="form-group">
                                    <label for="">Código item</label>
                                    <input type="text" class="form-control" placeholder="Código item" value="#{vendasBean.venda.idProduto}"/>
                                </div>
                                <div class="form-group">
                                    <label for="exampleFormControlSelect1">Cliente</label>
                                    <h:selectOneMenu class="form-control" id="exampleFormControlSelect1" value="#{vendasBean.venda.idCliente}" converter="clienteConverter">

                                        <f:selectItems value="#{clienteBean.clientes}"
                                                       var="item"
                                                       itemValue="#{item}"
                                                       itemLabel="#{item.nome}" />
                                    </h:selectOneMenu>
                                </div>                 
                                <div class="form-group">
                                    <label for="exampleFormControlSelect1">Vendedor</label>
                                    <h:selectOneMenu class="form-control" id="exampleFormControlSelect2" value="#{vendasBean.venda.idUsuario}" converter="usuarioConverter">
                                        <f:selectItems value="#{usuarioBean.usuarios}"
                                                       var="item"
                                                       itemValue="#{item}"
                                                       itemLabel="#{item.nome}" />
                                    </h:selectOneMenu>
                                </div>                       
                            </form>
                            <h:commandButton action="#{vendaBean.insertAction()}" class="btn btn-primary" value="Finalizar venda" />
                            <button type="button" class="btn btn-light">Cancelar</button>
                        </div>
                        <div class="col">   
                            <h:commandButton action="#{vendasBean.atualizarAction()}" class="btn btn-secondary" value="Atualizar">
                                <f:ajax render="@form" execute="tabela1" />
                            </h:commandButton>
                            <p:dataTable value="#{vendasBean.venda}" var="item" id="tabela1">
                                <p:column headerText="Cod. Produto">
                                    <h:outputText value="#{vendasBean.idProduto}" />
                                </p:column>
                                <p:column headerText="Cliente">
                                    <h:outputText value="#{vendasBean.idUsuario}" />
                                </p:column>     
                                <p:column headerText="">
                                    <h:commandButton action="#{departamentoBean.removeAction(item)}" value="Excluir" 
                                                     onclick="return confirm('Remover departamento?');" >
                                        <f:ajax render="@form" execute="@form" />
                                    </h:commandButton>
                                </p:column>    
                            </p:dataTable>
                        </div>
                    </div>
                </div>
            </ui:define>
        </ui:composition>
    </body>
</html>

