<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html">
    <head>
        <meta charset="utf-8"> </meta>
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"></meta>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous"> </link>
        <title>Cadastro de categorias</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    </head>
    <body>
        <ui:composition template="modelo.xhtml">
            <ui:define name="conteudo">
                <div class="borda_titulo">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col col-lg-3">
                                <h1> Cadastro de Categoria</h1>
                            </div>
                            <div class="col" style="padding: 5px 0px">
                                <a class="btn_fechar" href="index.xhtml">X</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="telas2">
                  
                        <div class="form-group">
                            <label for="">Nome</label>
                            <h:inputText class="form-control" value="#{categoriaBean.categoria.nome}"></h:inputText>
                        </div>
                        <h:commandButton type="submit" class="btn btn-primary" action="#{categoriaBean.insertCategoria()}" value="Cadastrar"></h:commandButton>
                        <button type="button" class="btn btn-light">Cancelar</button>
                  
                </div>
            </ui:define>
        </ui:composition>
    </body>
</html>
