<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">
    <head>
        <meta charset="utf-8"> </meta>
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"></meta>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous"> </link>

        <title>Cadastro de Clientes</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    </head>
    <body>
        <ui:composition template="modelo.xhtml">
            <ui:define name="conteudo">
                <h:messages />
                <div class="borda_titulo">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col col-lg-3">
                                <h1> Cadastro de Cliente</h1>
                            </div>
                            <div class="col" style="padding: 5px 0px">
                                <a class="btn_fechar" href="index.xhtml">X</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="telas2">
                    <div class="row">
                        <div class="col-sm-4">
                            <div class="form-group">
                                <label for="">Nome</label>
                                <h:inputText class="form-control" value="#{clientesBean.cliente.nome}"></h:inputText>

                            </div>
                            <div class="form-group">
                                <label for="">CPF</label>                            
                                <h:inputText class="form-control" id="cpf" value="#{clientesBean.cliente.cpf}" required="true"
                                             requiredMessage="O campo CPF deve ser preenchido." 
                                             converterMessage="Campo CPF é Numérico.">
                                    <f:convertNumber integerOnly="true" minIntegerDigits="1"  />
                                </h:inputText>
                            </div>
                            <div class="form-group">
                                <label for="">Telefone</label>
                                <h:inputText class="form-control" id="telefone" value="#{clientesBean.cliente.telefone}" required="true"
                                             requiredMessage="O campo telefone deve ser preenchido." 
                                             converterMessage="Campo Telefone é Numérico.">
                                    <f:convertNumber integerOnly="true" minIntegerDigits="1"  />
                                </h:inputText>
                            </div> 
                            <div class="form-group">
                                <label for="">Endereço</label>
                                <h:inputText class="form-control" value="#{clientesBean.cliente.endereco}"></h:inputText>
                            </div>
                            <h:commandButton type="submit" class="btn btn-primary" action="#{clientesBean.insertClientes()}" value="Cadastrar"></h:commandButton>
                            <!--<button type="button" class="btn btn-light">Cancelar</button>-->
                        </div>
                        <div class="col" style="max-height: -webkit-fill-available;overflow: scroll;height:400px">   
                            <h:commandButton action="#{clientesBean.atualizarAction()}" class="btn btn-secondary" value="Atualizar">
                                <f:ajax render="@form" execute="tabela1" />
                            </h:commandButton>
                            <p></p>
                            <p:dataTable value="#{clientesBean.clientes}" var="item" id="tabela1">
                                <p:column headerText="Cod. Cliente">
                                    <h:outputText value="#{item.idCliente}" />
                                </p:column>
                                <p:column headerText="Cliente">
                                    <h:outputText value="#{item.nome}" />
                                </p:column>     
                                <p:column headerText="">
                                    <h:commandButton action="#{clientesBean.removeAction(item)}" value="Excluir" 
                                                     onclick="return confirm('Remover cliente?');" >
                                        <f:ajax render="@form" execute="@form" />
                                    </h:commandButton>
                                </p:column>    
                            </p:dataTable>
                        </div>
                    </div>
                </div>
            </ui:define>
        </ui:composition>
    </body>
</html>
