<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets">
    <h:head>
        <meta charset="utf-8"> </meta>
    </h:head>
    <h:body>
        <!-- <h1> Brechó era uma vez</h1> 
         <a href="cadastro_categoria.xhtml"> Cadastrar Categoria </a><br></br> 
         <a href="cadastro_clientes.xhtml">  Cadastrar Clientes </a><br></br>  
         <a href="cadastro_produtos.xhtml">  Cadastrar Produtos </a><br></br>
         <a href="vendas.xhtml">  Venda </a><br></br>
         <a href="condicional.xhtml">  Condicional</a><br></br> -->

        <ui:composition template="modelo.xhtml">
            <ui:define name="conteudo">

            </ui:define>
        </ui:composition>

    </h:body>
    
</html>

