<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets">
    <h:head>
        <title>Sistema para Gerenciamento de Caixa</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"></meta>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous"></link>
        <style>
            body{
                background-color:#263238;
            }

            .meuside a{
                color:#fff;
            }
            .menuside .nav-link:focus, .nav-link:hover{
                background-color:#3A4951;
            }
            .card.user{
                background: rgba(0,0,0,0);
                color:#fff;
            }
            .telas{
                background-color: #F9F9F9;
                padding-left:0;
                padding-right:0;
                height:-webkit-fill-available;
            }
            .telas2{
                padding: 15px;
            }
            .borda_titulo{
                background-color: #2D3F48;
                color: #AEAEAE;
            }
            .borda_titulo h1{
                font-size: 1rem !important;
                font-weight: 100;
                padding: 7px;
                width:fit-content;
            }
            .btn_fechar{
                padding: 3px 10px;
                background-color:#d64242;
                color:white;
                float:right;
                margin-right:5px;
            }
            .btn_fechar:hover{
                color: white;
                text-decoration:none;
                background-color:#ff0000;
            }
            .img_perfil{
                max-width: 130px;
                margin: 0 auto;
                border-radius: 100%;
                margin-bottom: 2em;
                margin-top: 2em;
            }
            .titulo_busca{
                background-color: #263238;
                color: #f9f9f9;
                text-align:center;
                font-size: 1.2em;
                padding: 0.3em 1em;
            }
        </style>
    </h:head>
    <h:body>
        <h:form>
            <div class="container-fluid">
                <div class="row">
                    <div class="col col-lg-3 meuside">
                        <div class="card user" style="width: 18rem;border:0;">
                            <img class="card-img-top img_perfil" src="../images/images.png" alt="Foto do Usuário"></img>
                            <div class="container-fluid" style="margin-bottom:3em;">
                                <div class="row">
                                    <div class="col">
                                        Nome do Usuário
                                    </div>
                                    <div class="col col-sm-1">
                                        <a href="#"><i class="fa fa-power-off" style="font-size:14px"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <ul class="nav flex-column">
                            <li class="nav-item">
                                <a class="nav-link" href="cadastro_vendas.xhtml">Nova Venda</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link disabled" href="#">Itens Vendidos</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="cadastro_condicional.xhtml">Nova Condicional</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link disabled" href="#">Itens em Condicional</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="cadastro_produtos.xhtml">Produtos</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="cadastro_clientes.xhtml">Clientes</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="cadastro_categoria.xhtml">Categoria</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="relatorios.xhtml">Relatórios</a>
                            </li>                            
                        </ul>
                    </div>
                    <div class="col telas">
                        <div class="titulo_busca">Sistema para Gerenciamento de Caixa</div>
                        <ui:insert name="conteudo" />
                    </div>
                </div>
            </div>
            <!--<p:menubar>
                <p:submenu label="Cadastros">
                    <p:menuitem value="Clientes" outcome="salario-form"/>
                    <p:menuitem value="Produtos" outcome="" />                    
                    <p:menuitem value="Preços" outcome="" />                    
                    <p:menuitem value="Categorias" outcome="" />                    
                </p:submenu>
                <p:submenu label="Cadastros">
                    <p:menuitem value="Clientes" outcome="salario-form"/>
                    <p:menuitem value="Produtos" outcome="" />                    
                    <p:menuitem value="Preços" outcome="" />                    
                    <p:menuitem value="Categorias" outcome="" />                    
                </p:submenu>
            </p:menubar>-->

        </h:form>
    </h:body>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous" ></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"></link>
</html>
